$bpm: 155;
$b: calc(60s / $bpm);
$b2: $b * 2;
$b4: $b * 4;
$b8: $b * 8;

@import "./minireset.scss";
@import "./eyes.scss";
@import "./noise.scss";
@import "./dancefloor.scss";
@import "./fader.scss";

body {
  background: black;
  overflow: hidden;
  font-family: 'Titillium Web', sans-serif;
  display: flex;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.white-flash {
  background: white;
}

.black-flash {
  background: black;
}

.quick-flash {
  animation: flash $b ease-out both;
}

.long-flash {
  animation: flash $b8 ease-out both;
}

.h {
  display: none !important;
}

#rc.active {
  --ripple: radial-gradient(
    circle at center,
    #701606 0%,
    #bbb803 20%,
    #1512d6 30%,
    #bbb803 55%,
    #1512d6 65%,
    black 70%,
    transparent 100%
  );

  contain: paint;
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;

  padding: 10%;
  filter: blur(4px) brightness(1.7);
}

#rc {
  transition: transform $b4 ease-out;
  transform: scaleY(1.0);
}

.scale-down {
  transform: scaleY(0) !important;
  overflow: hidden;
}

.ripple {
  border-radius: 100%;
  width: 10vw;
  height: 10vw;
  
  transform-origin: center;

  background-image: var(--ripple);

  .active & {
    animation: ripple 2 calc($b * 32) linear both;
    animation-direction: reverse;
  }

  mix-blend-mode: difference;
}

@keyframes ripple {
  0% {
    transform: scale(25.0) rotateY(0deg);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: scale(50.0) rotateY(27deg) rotateZ(80deg);
    opacity: 1;
  }
  95% {
    transform: scale(50.0) rotateY(27deg) rotateZ(80deg);
    opacity: 0;
  }
  100% {
    transform: scale(10.0) rotateY(0deg);
  }
}

.f {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes bg-move {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -100% -100%;
  }
}

@keyframes line-enter {
  0% {
    opacity: 0;
    transform: translateX(-32px) translateY(-64px);
    letter-spacing: initial;
  }
  90% {
    transform: translateX(16px) translateY(4px);
    letter-spacing: 20;
  }

  100% {
    opacity: 0.5;
    transform: translateX(0) translateY(0);
    letter-spacing: initial;
  }
}

@keyframes disappear {
  0% {
    max-height: 999px;
    transform: skew(0deg) scale(1);
  }
  50% {
    transform: skew(700deg) scale(0.8);
  }
  100% {
    transform: scale(0);
    max-height: 0px;
  }
}


.disappear {
  animation: disappear $b ease-out forwards !important;
}


@keyframes perspective-exit {
  0% {
    transform: perspective(1000px) rotateX(0deg);
  }
  100% {
    transform: perspective(1000px) rotateX(90deg);
  }
}

.perspective-exit {
  animation: perspective-exit $b2 ease-in forwards;
}

#s {
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5%;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8vh;
  font-family: 'Times New Roman';
  text-shadow: black 0px 0px 16px;
  font-weight: bold;
  transform-origin: center bottom;

  span {
    display: flex;
    margin-bottom: 16px;
    animation: line-enter $b4 ease-in-out forwards, disappear $b ease-in-out $b8 forwards;
    mix-blend-mode: exclusion;
  }
}

#beat {
  position: absolute;
  top: 32px;
  right: 32px;
  color: rgb(255, 0, 0);
  font-size: 32px;
  font-variant-numeric: proportional-nums;
  z-index: 100;
}

#bs {
  position: absolute;
  transform: perspective(1000px) rotateX(0deg) translate3d(0,10%, 100px);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(121, 9, 121, 0.9) 50%,
    rgba(0, 0, 0, 1) 100%
  ), var(--noise);
  background-size: auto, 10000% 1000%;

  height: 50%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: scroll-bg ($b * 128) ease-in-out infinite alternate;

  span {
    font-size: 4vh;
    font-family: 'Times New Roman';
    word-wrap: pre-wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;

    letter-spacing: 300px;
    white-space: nowrap;
    animation: scroll $b8 1 ease forwards, scroll-disappear $b2 1 ease forwards $b8;
  }
}

@keyframes scroll-bg {
  0% {
    background-position: 0%, 0% 0%;
  }

  100% {
    background-position: 0%, 20% 10%;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(-100%) skewY(-10deg);
    letter-spacing: 10vw;
    opacity: 0;
  }
  50% {
    transform: translateX(0%) skewY(0deg);
    letter-spacing: 1vw;
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    letter-spacing: 1vw;
  }
}

@keyframes scroll-disappear {
  0% {
    transform: rotateX(0deg);
  }
  25% {
    transform: rotateX(-10deg);
  }
  50% {
    transform: rotateX(10deg);
    display: block;
  }
  100% {
    transform: rotateX(90deg);
    display: none;
  }
}

#l {
  position: absolute;
  max-width: 60vw;
  margin-left: auto;
  margin-right: auto;
  color: white;
  border: 20px double white;
  font-size: 12vw;
  padding: 20px;
  overflow: hidden;

  // center vertically
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;

  &.active {
    display: block;
    animation: logo-anim calc($b * 16) 1 cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  }
}

@keyframes logo-anim {
  0% {
      max-height: 0vh;
      border-width: 0;
      padding: 0;
  }
  25% {
      max-height: 10vh;
      padding: 1vh;
      border-width: 1vh;
  }
  30% {
    max-width: 60vw;
  }
  50% {
    max-height: 100vh;
  }
  80% {
    max-height: 100vh;
    max-width: 48vw;
    padding: 20px;
    border-width: 20px;
  }
  100% {
    max-height: 0vh;
    border-width: 0;
    padding: 0;
  }
}